parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - ./
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
